.hero img {
  display: flex;
  align-items: flex-end;
}

.jumbo {
  padding: 10px;
}


h2 {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.contactMe {
  display: flex;
  justify-content: center;
  border: 5px;
  margin-top: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;

}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}