hero {
  background-color: blue;
}

h2 {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;
}



btn:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.contactMe {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 10px;
}